* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Gotham Rounded, sans-serif;
  background: linear-gradient(to right, #00aaff, #00ff6c);
}
.container {
  /* border: 4px solid white; */
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
}
.newTask {
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.newTask input {
  width: 75%;
  height: 45px;
  font-size: 15px;
  border: 2px solid rgb(17, 82, 39);
  position: relative;
  padding: 13px;
  border-radius: 5px;
  color: #111221;
  font-weight: 450;
}
.newTask input:focus {
  outline: none;
  border-color: #000005;
}
.newTask .press {
  position: relative;
  float: right;
  width: 20%;
  height: 42px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  border: none;
  color: #000000;
}

.newTask .press:hover {
  background: linear-gradient(to left, #00aaff, #00ff6c);
  border: 2px solid black;
  transition: 0.2s ease-in;
}

.tasks {
  background-color: #fff;
  padding: 30px 20px;
  margin-top: 60px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  width: 100%;
  position: relative;
  border-radius: 12px;
}
.task {
  background-color: #fff;
  padding: 5px 10px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid rgb(103, 44, 44);
  cursor: pointer;
}

.task span {
  font-size: 15px;
  font-weight: 500;
}

.task button {
  color: white;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
.completed {
  text-decoration: line-through;
}
